.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 220px;
}

.featureLink {
  color: var(--ifm-navbar-link-color);
}

.featureLink:hover {
  color: var(--ifm-navbar-link-color);
  text-decoration: none;
}

.featureImageContainer {
  padding-bottom: 30px;
}
